@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;


}
.container-md {
    max-width: 1200px;
}

.container-lg {
    max-width: 1400px;
}

.text-white {
    color: #fff;
}

#banner h1 {
    font-size: 70px;
}

#banner img {
    max-width: 500px;
    width: 100%;
}


.section {
    background: #131429;
    min-height: 100vh;
    padding: 3em 0;
}

.text-gradient {
    background: linear-gradient(to right,#f04977,#fc644d 50%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

h2 {
    font-size: 70px;
}

span.category {
    background-image: linear-gradient(to right,#f04977,#fc644d);
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 10px;
}

.project-item .project-item-img-wrapper {
    min-width: 260px;
}

.project-item-img-wrapper img {
    text-align: right
}

.section:not(.section-1) {
    display: none;
}

.control-panel {
    display: none;
    box-shadow: 0px 1px 50px 0px rgba(246, 87, 97,0.5);
    position: fixed;
    top: 46%;
    right: 0;
    background: rgba(255, 255, 255,0.1);
    padding: 2em 1em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
}

.control-panel button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    outline: 0 !important;
    border: 1px solid transparent;
    color: transparent;
    background: linear-gradient(to right,#f04977,#fc644d 50%) !important;
    z-index: 1;
}

.control-panel button:not(:last-child) {
    margin-bottom: 1.25em;
}

.control-panel button.active {
    background: #2b2c3f !important;
    border-color: #f04977;
}

.flex {
    display: flex;
}

.pill {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1em;
    margin: 0 1em 1em 0;
    border-radius: 5px;
}


@media screen and (max-width: 991px) {
    #banner img {
        max-width: 350px;
    }

    #banner h1, h2 {
        font-size: 4em;
    }
}

@media screen and (max-width: 768px) {
    .project-item {
        flex-direction: column;
        margin-bottom: 2em;
    }

    .project-item-img-wrapper {
        margin-bottom: 1em;
    }

    .project-item-content {
        margin-left: 0 !important;
    }

    .project-item-img-wrapper img {
        max-width: 220px;
    }

    .project-item-img-wrapper,
    .project-item-content h3,
    .project-item-content p {
        text-align: center !important;
    }
    .pill {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    #banner img {
        max-width: 220px;
    }

    #banner h1, h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 22px;
    }
}